@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body {
  background: #223;
  color: #fff;
  padding: 20px;
  margin-top: 30px;
  overflow-x: hidden;
}

.live-logo {
  color: #FE53E1;
  font-size: 24pt;
  padding: 20px;
  padding-bottom: 5px;
  font-family: 'Titan One', cursive;
  margin: 0;
  z-index: 1;
  margin-left: 5px;
  padding-top: 15px;
}

.blink {
  animation: blinker 1.0s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}
@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

#offline p {
  font-size: 18pt;
  font-weight: bold;
  margin-left: 20px;
  background: #334;
  width: 640px;
  height: calc(480px / 2);
  padding: 20px;
  padding-top: calc(480px / 2 - 20px);
  text-align: center;
}

#live {
  float: left;
  border-right: 3px solid #ccc;
  padding-right: 50px;
}

#trending {
  float: left;
  padding-left: 40px;
}

h1 {
  color: #FE53E1;
  font-size: 24pt;
  margin-top: 10px;
  font-family: 'Titan One', cursive;
}

#app {
  margin-left: 55px;
}

#logo {
  color: #FE53E1;
  font-size: 72pt;
  margin-top: -20px;
  font-family: 'Titan One', cursive;
  margin-bottom: 60px;
}

iframe {
  width: 640px !important;
  height: 480px !important;
  margin: 0 !important;
  padding-top: 20px;
}

#games {
  padding-top: 15px;
  margin-left: 13.5vw;
}

#game a,
#game a:visited {
  color: #FE53E1;
  text-decoration: none;
  font-size: 24pt;
  font-family: 'Titan One', cursive;
  display: block;
  margin-bottom: 60px;
}

#game img {
  height: 118px;
  margin-right: 40px;
  padding-top: 20px;
  margin-top: -20px;
  vertical-align: middle;
}

.btn {
  padding: 10px;
  color: #fff;
  background: #FE53E1;
  text-decoration: none;
  border-radius: 4px;
  margin-left: 25px;
}

.btn:hover {
  background: #52e0a3 !important
}

#content {
  margin-top: 24px;;
}

@media(max-width: 1024px) {
  #logo {
    font-size: 14pt;
  }
  #logo img {
    height: 32px;
  }
  #live {
    margin-left: -32px;
    border-right: 0;
  }
  .live-logo {
    position: absolute;
    margin-left: 22px;
    margin-top: 10px;
  }
  #app {
    margin-left: 0;
  }
  iframe {
    width: 320px !important;
    height: 240px !important;
    margin: 0 !important;
    padding-top: 90px;
    padding-left: 40px;
    display: block;
  }
  #offline p {
    font-size: 18pt;
    font-weight: bold;
    margin-left: 20px;
    background: #334;
    width: 320px;
    height: calc(240px / 2);
    padding: 20px;
    padding-top: calc(240px / 2 - 20px);
    text-align: center;
  }
  #offline {
    padding-top: 90px;
  }
  #trending {
    padding: 0;
    padding-top: 20px;
    text-align: center;
  }
  #games {
    margin-left: 0;
  }
  .btn {
    margin-left: -8px;
  }
}